.container {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.line {
  width: 100%;
  border: 1px solid gainsboro;
}

.picker {
  width: 350px;
  height: 240px;
  font-size: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.select {
  width: 44px;
  height: 44px;
  background-color: white;
  border: none;
  background: none;
}
.select:hover {
  background-color: #e6e6e6;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 3rem);
}

.date {
  display: flex;
  justify-content: flex-end;
  width: 50px;
  height: 36px;
  border: none;
  background-color: white;
}
.date:hover {
  background-color: #e6e6e6;
}
.date:disabled {
  color: #757575;
}

.today {
  background-color: #ffff76;
}

.active {
  color: white;
  background-color: #006edc;
}

.not-allowed {
  cursor: not-allowed;
}

.non-current {
  color: #757575;
  pointer-events: none;
}

.weekday {
  vertical-align: super;
  font-size: 8px;
  color: gainsboro;
}
